* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.sec-container {
  max-width: 80%;
  margin: auto;
  padding: 120px 0;
}

.main {
  display: flex;
  /* height: 100vh; */
}
nav h2 {
  font-size: 30px;
  font-weight: 700;
}

.dot {
  color: #2351dc;
}
h1 {
  font-size: 50px;
  font-weight: 900;
}

.icons {
  width: 105px;
  display: flex;
  justify-content: space-between;
}

.main i,
.about i {
  color: #2351dc;
  width: 45px;
  height: 45px;
  border: 1px solid #2351dc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;

  /* text-align: center; */
  /* align-items: center; */
}
.left {
  width: 60%;
}

.left-container {
  max-width: 80%;
  margin: 30px auto;
}

nav,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 0 15px;
}
nav ul li a:hover {
  color: #2351dc;
}
.right {
  background-color: #d3dcf8;
  width: 40%;
  /* position: relative; */
}

.caption {
  margin: 200px 0;
}
.caption h4 {
  color: #2351dc;
  font-weight: 400;
}
.caption h3 {
  color: #2351dc;
  font-size: 25px;
}
.caption h1 {
  font-size: 50px;
  font-weight: 900;
}

.right .photo {
  width: 100%;
  height: 95%;
  background-image: url(./asset/me.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.right .photo .icon-holder {
  max-width: 80%;
  margin: 32px auto;
  display: flex;
  justify-content: flex-end;
}

/* ABOUT SECTION */

.about {
  background-color: #f6f8fe;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content p,
.skill p {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 15px;
}

/* SKILLS */
.skills_section {
  width: 100%;
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skills_main .skill_bar i {
  color: #2351dc;
}
.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #2351dc;
  border-radius: 25px;
}
.skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.skill_bar .bar .sass {
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .js {
  width: 80%;
  animation: css 2s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .react {
  width: 75%;
  animation: react 2s;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skill_bar .bar .node {
  width: 70%;
  animation: node 2s;
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.skill_bar .bar .pyton {
  width: 65%;
  animation: pyton 2s;
}
@keyframes pyton {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skill_bar .bar .mongo {
  width: 60%;
  animation: mongo 2s;
}
@keyframes mongo {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* SERVICES */

.services-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 0;
  gap: 50px;
}

/* TESTIMONY */
.testimony {
  display: flex;
}

.testimony .text-side {
  width: 40%;
  background-color: #2351dc;
  color: #fff;
  display: flex;
  align-items: center;
  margin: ;
}
.text-side h1 {
  font-size: 40px;
  font-weight: 600;
  margin-left: auto;
  margin-right: 80px;
}

.testimony .review-side {
  width: 60%;
}
.testimony .review-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7%;
  gap: 50px;
}

.img-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.review-side .client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-side .client h2 {
  padding: 18px 0;
}
.review-side .client p {
  text-align: center;
}
