* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.sec-container {
  max-width: 80%;
  margin: auto;
  padding: 120px 0;
}

.main {
  display: flex;
  /* height: 100vh; */
}
nav h2 {
  font-size: 30px;
  font-weight: 700;
}

.dot {
  color: #2351dc;
}
h1 {
  font-size: 50px;
  font-weight: 900;
}

.icons {
  width: 105px;
  display: flex;
  justify-content: space-between;
}

.main i,
.about i,
.contact .info .c-icon i,
.footer i {
  color: #2351dc;
  width: 45px;
  height: 45px;
  border: 1px solid #2351dc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;

  /* text-align: center; */
  /* align-items: center; */
}
.left {
  width: 60%;
}

.left-container {
  max-width: 80%;
  margin: 30px auto;
}

nav,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 0 15px;
}
nav ul li a:hover {
  color: #2351dc;
}
.right {
  background-color: #d3dcf8;
  width: 40%;
  /* position: relative; */
}

.caption {
  margin: 200px 0;
}
.caption h4 {
  color: #2351dc;
  font-weight: 400;
}
.caption h3 {
  color: #2351dc;
  font-size: 25px;
}

.right .photo {
  width: 100%;
  height: 95%;
  background-image: url(./asset/me.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.right .photo .icon-holder {
  max-width: 80%;
  margin: 32px auto;
  display: flex;
  justify-content: flex-end;
}

/* ABOUT SECTION */

.about {
  background-color: #f6f8fe;
}

.center {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content p,
.skill p {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 15px;
}

/* SKILLS */
.skills_section {
  width: 100%;
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skills_main .skill_bar i {
  color: #2351dc;
}
.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #2351dc;
  border-radius: 25px;
}
.skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.skill_bar .bar .sass {
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .js {
  width: 80%;
  animation: css 2s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .react {
  width: 75%;
  animation: react 2s;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skill_bar .bar .node {
  width: 70%;
  animation: node 2s;
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.skill_bar .bar .pyton {
  width: 65%;
  animation: pyton 2s;
}
@keyframes pyton {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skill_bar .bar .mongo {
  width: 60%;
  animation: mongo 2s;
}
@keyframes mongo {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* SERVICES */

.services-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 0;
  gap: 50px;
}

/* TESTIMONY */

.testimony {
  display: flex;
}

.testimony .text-side {
  width: 40%;
  background-color: #2351dc;
  color: #fff;
  display: flex;
  align-items: center;
}
.text-side h1 {
  font-size: 40px;
  font-weight: 600;
  margin-left: auto;
  margin-right: 80px;
}
.testimony .review-side {
  width: 60%;
  padding: 80px 7%;
}

.testimony .review-box{
  width: 100%;
  max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    margin: 0 auto;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}




/* CONTACT */
.contact {
  display: flex;
}

.info-side {
  width: 60%;
}
.form-side {
  width: 40%;
}
.info-side .info {
  padding: 10% 0;
  max-width: 60%;
  margin: 0 auto;
}
.info-side .info h1 {
  padding-bottom: 17px;
}
.info-side .info p {
  line-height: 25px;
  margin-bottom: 15px;
}
.c-icon-box {
  display: flex;
  align-items: center;
}
.c-icon-box span {
  font-weight: 700;
  font-size: 25px;
}
.c-icon-box a:nth-child(2) {
  margin: 0 20px;
}
.channel {
  padding: 30px 0;
}
.channel .flex {
  display: flex;
  padding: 20px 0;
}

.channel .flex i {
  font-size: 50px;
  color: #2351dc;
  margin-right: 15px;
}

.channel .flex p {
  font-size: 13px;
}
/* form-side */
.form-side {
  background-color: #2351dc;
}
.form-container {
  width: 70%;
  margin: 0 auto;
  padding: 10% 0;
}
.form-container h3 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.form-container h2 {
  font-size: 35px;
  color: #fff;
}
.form-container form {
  padding-top: 40px;
}
.form-container form .DM {
  /* display: none; */
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 18px 0;
  margin: 10px 0;
  border-bottom: 1px solid #fff;
  width: 80%;
}
form input::placeholder {
  color: #fff;
  font-size: 15px;
}
form .button {
  padding: 18px 60px;
  border-radius: 15px;
  color: #2351dc;
  font-size: 18px;
  outline: none;
  border: none;
  margin-top: 40px;
}
/* FOOTER */
.footer {
  background: rgba(7, 16, 44, 1);
}
.footer .footer-container {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.footer i {
  border-color: #fff;
  color: #fff;
  margin: 20px 0;
}
.footer-container h2 {
  font-size: 35px;
  padding: 15px;
}
.f-icon a:nth-child(2) {
  margin: 0 20px;
}
.f-icon {
  padding-bottom: 20px;
}

#responsive-icon-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 35px;
  display: none;
  /* z-index: 1000; */
}

#responsive-icon-btn svg {
  height: 1.6rem;
  width: 1.6rem;
  color: #2351dc;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

#menu-list.active{
  display: block;
}
#responsive-icon-btn .openIcon {
  display: block;
}
#responsive-icon-btn .closeIcon {
  display: none;
}
#responsive-icon-btn.open .openIcon {
  display: none;
}
#responsive-icon-btn.open .closeIcon {
  display: block;
}

/* RESPONSIVE  */
@media (max-width: 1050px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
    background-color: #d3dcf8;
  }
  .small-screen {
    width: 100%;
    height: 95%;
    background-image: url(./asset/me.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .skills_section {
    padding: 50px 0;
  }
  .services-main {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-side h1 {
    font-size: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 40px;
    font-weight: 800;
  }
  nav .s-text,
  .footer-container .s-text {
    font-size: 25px;
  }
  .sec-container {
    max-width: 90%;
  }
  .about-content {
    width: 80%;
  }
  .testimony {
    flex-direction: column;
    text-align: center;
  }
  .testimony .text-side {
    width: 100%;
    padding: 45px 0;
  }
  .testimony .text-side h1 {
    margin: auto;
  }
  .testimony .review-side {
    width: 100%;
  }
  .info-side,
  .form-side {
    width: 50%;
  }

  .info-side .info {
    max-width: 90%;
  }
  .form-side .form-container {
    width: 85%;
  }

  form .button {
    font-size: 13px;
    padding: 15px 40px;
  }
}
@media (max-width: 690px) {
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  #responsive-icon-btn {
    display: block;
  }
  nav {
    display: block;
  }
  ul {
    display: none;
    text-align: center;
    /* margin-right: -1000px; */

    /* display: block; */
    background-color: #2351dc;
    position: relative;
    top: 10px;
  }
  nav ul li{
    padding: 15px;
  }
  nav ul li a {
    color: #fff;
  }
  nav ul li a:hover {
    color: black;
  }
  .contact {
    flex-direction: column;
  }
  .info-side,
  .form-side {
    width: 100%;
  }
  .info-side {
    background-color: #f6f8fe;
  }
}

@media (max-width: 450px) {
  .sec-container {
    width: 80%;
  }
  .caption{
    margin: 100px 0;

  }
  .skills_main,
  .services-main,
  .testimony .review-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .testimony .review-side {
    padding: 20%;
  }
  .small-screen {
    background-image: none;
  }
}
